In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/E Commerce Dataset.xlsx', sheet_name=1)

In [3]:
df['PreferredLoginDevice'].replace(['Mobile Phone', 'Phone', 'Computer'], [0,0,1], inplace=True)
df['PreferredPaymentMode'].replace(['Debit Card', 'UPI', 'CC', 'Cash on Delivery', 'E wallet', 'COD', 'Credit Card'], ['Debit Card', 'UPI', 'Credit Card', 'Cash on Delivery', 'E wallet', 'Cash on Delivery', 'Credit Card'], inplace=True)
df['Gender'].replace(['Female', 'Male'], [0,1], inplace=True)
df['PreferedOrderCat'].replace(['Laptop & Accessory', 'Mobile', 'Mobile Phone', 'Others', 'Fashion', 'Grocery'], ['Laptop & Accessory', 'Mobile', 'Mobile', 'Others', 'Fashion', 'Grocery'], inplace=True)
df['MaritalStatus'].replace(['Single', 'Divorced', 'Married'], [1,0,2], inplace=True)

In [4]:
df.select_dtypes(include=object)

     PreferredPaymentMode    PreferedOrderCat
0              Debit Card  Laptop & Accessory
1                     UPI              Mobile
2              Debit Card              Mobile
3              Debit Card  Laptop & Accessory
4             Credit Card              Mobile
...                   ...                 ...
5625          Credit Card  Laptop & Accessory
5626          Credit Card             Fashion
5627           Debit Card  Laptop & Accessory
5628          Credit Card  Laptop & Accessory
5629          Credit Card  Laptop & Accessory

[5630 rows x 2 columns]

In [5]:
df.shape

(5630, 20)

In [6]:
# Specify the columns to one-hot encode
columns_to_encode = ['PreferredPaymentMode', 'PreferedOrderCat']
print(df['PreferredPaymentMode'].nunique())
print(df['PreferedOrderCat'].nunique())

# Use get_dummies to perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=columns_to_encode, drop_first=True)

# Display the result
df_encoded.shape

5
5

(5630, 26)

In [7]:
df_encoded.iloc[15:, 15:]

,OrderCount,DaySinceLastOrder,CashbackAmount,PreferredPaymentMode_Credit Card,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Others
15,1.0,2.0,120.73,False,False,False,True,False,False,True,False
16,1.0,0.0,129.26,False,True,False,False,False,False,True,False
17,1.0,3.0,157.44,False,False,True,False,False,True,False,False
18,1.0,6.0,160.74,False,True,False,False,False,True,False,False
19,4.0,3.0,149.63,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
5625,2.0,4.0,150.71,True,False,False,False,False,True,False,False
5626,2.0,NaN,224.91,True,False,False,False,False,False,False,False
5627,2.0,4.0,186.42,False,True,False,False,False,True,False,False
5628,2.0,9.0,178.90,True,False,False,False,False,True,False,False
5629,2.0,3.0,169.04,True,False,False,False,False,True,False,False

In [8]:
df_encoded = df_encoded.astype(float)

In [9]:
df_encoded.isnull().sum()

CustomerID                               0
Churn                                    0
Tenure                                 264
PreferredLoginDevice                     0
CityTier                                 0
WarehouseToHome                        251
Gender                                   0
HourSpendOnApp                         255
NumberOfDeviceRegistered                 0
SatisfactionScore                        0
MaritalStatus                            0
NumberOfAddress                          0
Complain                                 0
OrderAmountHikeFromlastYear            265
CouponUsed                             256
OrderCount                             258
DaySinceLastOrder                      307
CashbackAmount                           0
PreferredPaymentMode_Credit Card         0
PreferredPaymentMode_Debit Card          0
PreferredPaymentMode_E wallet            0
PreferredPaymentMode_UPI                 0
PreferedOrderCat_Grocery                 0
PreferedOrderCat_Laptop & Accessory      0
PreferedOrderCat_Mobile                  0
PreferedOrderCat_Others                  0
dtype: int64

In [10]:
df_encoded.dropna(axis=0, inplace=True)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x = df_encoded.drop('Churn', axis=1)
y = df_encoded['Churn']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_pred = rfc.predict(x_test)

In [15]:
from sklearn.metrics import classification_report

report = classification_report(y_test, y_pred)
print("Classification Report:\n", report)

Classification Report:
               precision    recall  f1-score   support

         0.0       0.95      0.99      0.97       786
         1.0       0.95      0.77      0.85       158

    accuracy                           0.95       944
   macro avg       0.95      0.88      0.91       944
weighted avg       0.95      0.95      0.95       944